@Scripts.Render("~/Scripts/HRM/Designation/DesignationSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Designation Summary
            </div>
            <div class="panel-body">
                <div id="grdDesignationSummary">
                </div>
            </div>
        </div>
    </div>
</div>
