@Scripts.Render("~/Scripts/HDL/OrderInfo/OrderInfoSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">

            <div class="well well-sm">
                Order Summary
            </div>
            <div class="panel-body">
                <button id="btnAddNew" class="btn btn-primary" type="button">Add New Order</button>
                <div id="grdOrderInfoSummary">
                </div>
            </div>
            @*<button class="btn btn-sm" id="btnExportToExcel">EX</button>*@
        </div>
    </div>
</div>
