@Scripts.Render("~/Scripts/HDL/MCon/MConSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">

            <div class="well well-sm">
                Material Consumption Summary
            </div>
            <div class="panel-body">
                <button id="btnAddNew" class="btn btn-primary" type="button">Add New Consumption</button>
                <div id="grdMConSummary">
                </div>
            </div>
            @*<button class="btn btn-sm" id="btnExportToExcel">EX</button>*@
        </div>
    </div>
</div>
