
app.entities/.vs/app.entities/v15/Server/sqlite3/storage.ide-shm
app.entities/.vs/app.entities/v15/.suo
app.entities/.vs/app.entities/v15/Server/sqlite3/db.lock
app.entities/.vs/app.entities/v15/Server/sqlite3/storage.ide
app.entities/.vs/app.entities/v15/Server/sqlite3/storage.ide-wal
