

@Scripts.Render("~/Scripts/HDL/SetInfo/SetInfoSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Set Summary
            </div>
            <div class="panel-body">
                @*<button id="btnAddNew" class="btn btn-primary" type="button">Add New Set</button>*@


                <div id="grdSetInfoSummary">
                </div>
            </div>
        </div>
    </div>
</div>

