body {
}

.k-list-scroller{
    overflow-y:scroll;
}

.wrapper {
    width: 100%;
    overflow: scroll;
}

.table-beam-stock-deatil .k-textbox {
    height: 24px;
    border-radius: 0px;
    border-color: transparent;
}

    .table-beam-stock-deatil .k-textbox:hover {
        border-color: #a3d0e4;
    }

.table-beam-stock-deatil .k-combobox,
.table-beam-stock-deatil .k-numerictextbox {
    border-radius: 0px;
}

    .table-beam-stock-deatil .k-combobox .k-dropdown-wrap,
    .table-beam-stock-deatil .k-numerictextbox .k-numeric-wrap {
        height: 24px;
        border-radius: 0px;
        border-color: transparent;
    }

    .table-beam-stock-deatil .k-combobox .k-dropdown-wrap.k-state-border-down > input{
        border-color: transparent;
    }

        .table-beam-stock-deatil .k-combobox .k-dropdown-wrap > .k-select,
        .table-beam-stock-deatil .k-numerictextbox .k-numeric-wrap > .k-select {
            border-radius: 0px;
            background-color: #fff;
            border-color: transparent;
        }

        .table-beam-stock-deatil .k-combobox .k-dropdown-wrap input,
        .table-beam-stock-deatil .k-numerictextbox .k-numeric-wrap input {
            height: 22px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .table-beam-stock-deatil .k-combobox .k-dropdown-wrap input:focus,
        .table-beam-stock-deatil .k-numerictextbox .k-numeric-wrap input:focus{
            border-color: transparent;
        }

.table-beam-stock-deatil {
}

    .table-beam-stock-deatil > tbody > tr > td {
        padding: 1px;
    }
