.bs-example {
    padding: 0px !important;
}

    .bs-example .well {
        margin: 0px !important;
    }

    .bs-example .panel-body {
        padding: 10px 5px 5px !important;
        border-top: 1px solid #286893;
    }


.k-grid-header th.k-header > .k-link {
    padding-left: 8px;
}

.k-grid-header th.k-header {
    padding: 8px 5px 6px;   
}

input:required {
    box-shadow: none;
}

.k-grid td {
    padding: 0px !important;
    height: 26px !important;
}

.k-grid .k-widget.k-combobox.k-header {
    margin-top: -2px;
    border-radius: 0px !important;
}

.btn-edit-summary {
    cursor: pointer;
    text-align: center;
}

.btn-edit-detail {
    cursor: pointer;
    text-align: center;
}

.ce-cell {
    padding: 0px 4px;
}
