@Scripts.Render("~/Scripts/HRM/Department/DepartmentInfo.js")

<div class="row">
    <div id="divDepartmentDetails" class="col-md-12 bs-example">
        @Html.Partial("../HRM/Department/DepartmentDetails")
        @Html.Partial("../HRM/Department/DepartmentSummary")
    </div>
</div>
