@Scripts.Render("~/Scripts/HRM/Department/DepartmentSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
            <div class="well well-sm">
                Department Summary
            </div>
            <div class="panel-body">
                <div id="grdDepartmentSummary">
                </div>
            </div>
    </div>
</div>
