
<div class="col-md-6 col-xs-6">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3  control-label" for="txtDateOfBirth">Date of Birth:</label>
            <div class="col-md-9 ">
                <input type="text" name="txtDateOfBirth" style="width: 100%; height: 28px;" id="txtDateOfBirth">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="txtFathersName">Father Name:</label>
            <div class="col-md-9 ">
                <input type="text" placeholder="Father's Name" style="width: 100%; height: 28px;" name="txtFathersName" id="txtFathersName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="ddlGender">Gender:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlGender" id="ddlGender" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="ddlReligion">Religion:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlReligion" id="ddlReligion" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="txtNID">NID:</label>
            <div class="col-md-9 ">
                <input type="text" placeholder="NID" style="width: 100%; height: 28px;" name="txtNID" id="txtNID" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="ddlCountry">Country:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlCountry" id="ddlCountry" />
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-xs-6">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3  control-label" for="txtMothersName">Mother Name:</label>
            <div class="col-md-9 ">
                <input type="text" placeholder="Mother's Name" style="width: 100%; height: 28px;" name="txtMothersName" id="txtMothersName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="txtSpouseName">Spouse Name:</label>
            <div class="col-md-9 ">
                <input type="text" placeholder="Spouse Name" style="width: 100%; height: 28px;" name="txtSpouseName" id="txtSpouseName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="ddlMaritalStatus">Marital Status:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlMaritalStatus" id="ddlMaritalStatus" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="ddlBloodGroup">Blood Group:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlBloodGroup" id="ddlBloodGroup" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="txtBirthCertificate">Birth Certificate:</label>
            <div class="col-md-9 ">
                <input type="text" placeholder="Birth Certificate" style="width: 100%; height: 28px;" name="txtBirthCertificate" id="txtBirthCertificate" class="form-control" />
            </div>
        </div>
    </div>
</div>