
<div class="row">
    <div class="col-md-6">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label" for="txtMobileNO">Mobile & Phone:</label>
                <div class="col-md-4" style="padding-right:1px">
                    <input type="text" style="width: 100%; height: 28px;" placeholder="Mobile Number" name="txtMobileNO" id="txtMobileNO" class="form-control" />
                </div>
                <div class="col-md-4" style="padding-left:1px">
                    <input type="text" style="width: 100%; height: 28px;" placeholder="Phone Number" name="txtPhoneNO" id="txtPhoneNO" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="txtEmailPersonal">Email Personal & official:</label>
                <div class="col-md-4" style="padding-right:1px">
                    <input type="text" style="width: 100%; height: 28px;" placeholder="Personal EMail Address" name="txtEmailPersonal" id="txtEmailPersonal" class="form-control" />
                </div>
                <div class="col-md-4" style="padding-left:1px">
                    <input type="text" style="width: 100%; height: 28px;" placeholder="Official EMail Address" name="txtEmailOfficial" id="txtEmailOfficial" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="txtFax">Fax & Social Media:</label>
                <div class="col-md-4" style="padding-right:1px">
                    <input type="text" style="width: 100%; height: 28px;" placeholder="Fax number" name="txtFax" id="txtFax" class="form-control" />
                </div>
                <div class="col-md-4" style="padding-left:1px">
                    <input type="text" style="width: 100%; height: 28px;" placeholder="Social Media Id" name="txtSocialMediaID" id="txtSocialMediaID" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label" for="txtEmergencyContact">Emergency Contact No:</label>
                <div class="col-md-8">
                    <input type="text" style="width: 100%; height: 28px;" name="txtEmergencyContact" id="txtEmergencyContact" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="txtEmergencyContactName">Contact Persone Name:</label>
                <div class="col-md-8">
                    <input type="text" style="width: 100%; height: 28px;" name="txtEmergencyContactName" id="txtEmergencyContactName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="txtRelationWith">Relation with:</label>
                <div class="col-md-8">
                    <input type="text" style="width: 100%; height: 28px;" name="txtRelationWith" id="txtRelationWith" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-12 k-block">
            <div class="k-header">Present Address</div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="txtPreVillage">Village/House:</label>
                    <div class="col-md-5" style="padding-right:1px">
                        <input type="text" placeholder="In English" style="width: 100%; height: 28px;" name="txtPreVillage" id="txtPreVillage" class="form-control" />
                    </div>
                    <div class="col-md-4" style="padding-left:1px">
                        <input type="text" placeholder="In Bangla" style="width: 100%; height: 28px;" name="txtPreVillageBan" id="txtPreVillageBan" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="txtPreRoad">Road/Block/Sector:</label>
                    <div class="col-md-5" style="padding-right:1px">
                        <input type="text" placeholder="In English" style="width: 100%; height: 28px;" name="txtPreRoad" id="txtPreRoad" class="form-control" />
                    </div>
                    <div class="col-md-4" style="padding-left:1px">
                        <input type="text" placeholder="In Bangla" style="width: 100%; height: 28px;" name="txtPreRoadBan" id="txtPreRoadBan" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="ddlPreDivision">Division:</label>
                    <div class="col-md-9">
                        <input type="text" style="width: 100%; height: 28px;" name="ddlPreDivision" id="ddlPreDivision" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="ddlPreDistrict">District:</label>
                    <div class="col-md-9">
                        <input type="text" style="width: 100%; height: 28px;" name="ddlPreDistrict" id="ddlPreDistrict" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="ddlPreThana">Thana:</label>
                    <div class="col-md-9">
                        <input type="text" style="width: 100%; height: 28px;" name="ddlPreThana" id="ddlPreThana" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="txtPrePostOffice">Post Office:</label>
                    <div class="col-md-5" style="padding-right:1px">
                        <input type="text" placeholder="In English" style="width: 100%; height: 28px;" name="txtPrePostOffice" id="txtPrePostOffice" class="form-control" />
                    </div>
                    <div class="col-md-4" style="padding-left:1px">
                        <input type="text" placeholder="In Bangla" style="width: 100%; height: 28px;" name="txtPrePostOfficeBan" id="txtPrePostOfficeBan" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="txtPrePostCode">Post Code:</label>
                    <div class="col-md-5" style="padding-right:1px">
                        <input type="text" placeholder="In English" style="width: 100%; height: 28px;" name="txtPrePostCode" id="txtPrePostCode" class="form-control" />
                    </div>
                    <div class="col-md-4" style="padding-left:1px">
                        <input type="text" placeholder="In Bangla" style="width: 100%; height: 28px;" name="txtPrePostCodeBan" id="txtPrePostCodeBan" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="txtBusStop">Nearest Bus Stop:</label>
                    <div class="col-md-9">
                        <input type="text" style="width: 100%; height: 28px;" name="txtBusStop" id="txtBusStop" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 k-block">
            <div class="k-header">Permanent Address</div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="chkSameAsPresent">Same as Present:</label>
                    <div class="col-md-5" style="padding-right:1px">
                        <input type="checkbox" name="chkSameAsPresent" id="chkSameAsPresent" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="txtPerVillage">Village/House:</label>
                    <div class="col-md-5" style="padding-right: 1px">
                        <input type="text" placeholder="In English" style="width: 100%; height: 28px;" name="txtPerVillage" id="txtPerVillage" class="form-control" />
                    </div>
                    <div class="col-md-4" style="padding-left: 1px">
                        <input type="text" placeholder="In Bangla" style="width: 100%; height: 28px;" name="txtPerVillageBan" id="txtPerVillageBan" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="txtPerRoad">Road/Block/Sector:</label>
                    <div class="col-md-5" style="padding-right: 1px">
                        <input type="text" placeholder="In English" style="width: 100%; height: 28px;" name="txtPerRoad" id="txtPerRoad" class="form-control" />
                    </div>
                    <div class="col-md-4" style="padding-left: 1px">
                        <input type="text" placeholder="In Bangla" style="width: 100%; height: 28px;" name="txtPerRoadBan" id="txtPerRoadBan" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="ddlPerDivision">Division:</label>
                    <div class="col-md-9">
                        <input type="text" style="width: 100%; height: 28px;" name="ddlPerDivision" id="ddlPerDivision" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="ddlPerDistrict">District:</label>
                    <div class="col-md-9">
                        <input type="text" style="width: 100%; height: 28px;" name="ddlPerDistrict" id="ddlPerDistrict" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="ddlPerThana">Thana:</label>
                    <div class="col-md-9">
                        <input type="text" style="width: 100%; height: 28px;" name="ddlPerThana" id="ddlPerThana" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="txtPerPostOffice">Post Office:</label>
                    <div class="col-md-5" style="padding-right: 1px">
                        <input type="text" placeholder="In English" style="width: 100%; height: 28px;" name="txtPerPostOffice" id="txtPerPostOffice" class="form-control" />
                    </div>
                    <div class="col-md-4" style="padding-left: 1px">
                        <input type="text" placeholder="In Bangla" style="width: 100%; height: 28px;" name="txtPerPostOfficeBan" id="txtPerPostOfficeBan" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="txtPerPostCode">Post Code:</label>
                    <div class="col-md-5" style="padding-right: 1px">
                        <input type="text" placeholder="In English" style="width: 100%; height: 28px;" name="txtPerPostCode" id="txtPerPostCode" class="form-control" />
                    </div>
                    <div class="col-md-4" style="padding-left: 1px">
                        <input type="text" placeholder="In Bangla" style="width: 100%; height: 28px;" name="txtPerPostCodeBan" id="txtPerPostCodeBan" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

