<input type="hidden" id="hdnEmpID" value="0" />
<div class="col-md-6">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label" for="txtEmpCode">Employee ID:</label>
            <div class="col-md-4" style="padding-right: 1px;">
                <input type="text" style="width: 100%; height: 28px;" name="txtEmpCode" id="txtEmpCode" class="form-control" readonly="readonly" />
            </div>
            <label class="col-md-1 control-label" style="padding-right: 1px; padding-left: 1px;"  for="txtEmpCode">Punch:</label>
            <div class="col-md-4" style="padding-left:1px">
                <input type="text" style="width: 100%; height: 28px;" name="txtPunchNo" id="txtPunchNo" class="form-control" readonly="readonly" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="txtEmpName">Name:</label>
            <div class="col-md-3" style="padding-right:1px">
                <input type="text" placeholder="Title" style="width: 100%; height: 28px;" name="txtEmpTitle" id="txtEmpTitle" class="form-control" />
            </div>
            <div class="col-md-6" style="padding-left:1px">
                <input type="text" placeholder="Name" style="width: 100%; height: 28px;" name="txtEmpName" id="txtEmpName" class="form-control" required validationmessage="Required" />
            </div>
        </div>

        <div class="form-group required">
            <label class="col-md-3  control-label" for="ddlUnit">Unit:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlUnit" id="ddlUnit" required />
            </div>
            
        </div>
        <div class="form-group required">
            <label class="col-md-3  control-label" for="ddlDepartment">Department:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlDepartment" id="ddlDepartment" required="required" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="ddlSection">Section:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlSection" id="ddlSection" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="ddlWing">Wing:</label>
            <div class="col-md-9">
                <input type="text" style="width: 100%; height: 28px;" name="ddlWing" id="ddlWing" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="ddlTeam">Team:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlTeam" id="ddlTeam" />
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 ">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3  control-label" for="txtJoinDate">Join Date:</label>
            <div class="col-md-9 ">
                <input type="text" name="txtJoinDate" style="width: 100%; height: 28px;" id="txtJoinDate" required validationmessage="Required">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="txtEmpNameBan">Name Ban:</label>
            <div class="col-md-3 " style="padding-right:1px">
                <input type="text" placeholder="Title Bangla" style="width: 100%; height: 28px;" name="txtEmpTitleBan" id="txtEmpTitleBan" class="form-control" />
            </div>
            <div class="col-md-6 col-xs-6" style="padding-left:1px">
                <input type="text" placeholder="Name ban" style="width: 100%; height: 28px;" name="txtEmpNameBan" id="txtEmpNameBan" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="ddlDesignation">Designation:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlDesignation" id="ddlDesignation" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="ddlPosition">Grade:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlPosition" id="ddlPosition" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="ddlEmpStatus">Status:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlEmpStatus" id="ddlEmpStatus" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="ddlEmpCategory">Category:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlEmpCategory" id="ddlEmpCategory" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3  control-label" for="ddlEmpType">Type:</label>
            <div class="col-md-9 ">
                <input type="text" style="width: 100%; height: 28px;" name="ddlEmpType" id="ddlEmpType" />
            </div>
        </div>
    </div>
</div>
