@Scripts.Render("~/Scripts/HRM/EmployeeBasic/EmployeeInfoSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example" id="divempSummary">
            <div class="well well-sm">
                Employee Info
            </div>
            <div class="k-block">
                <button id="btnNew" class="k-button k-primary"> Enroll Employee</button>
            </div>
            <div class="k-block">
                <div id="grdEmployeeInfo"></div>
            </div>
        </div>
    </div>
</div>

