@Scripts.Render("~/Scripts/HRM/EmployeeBasic/EmployeePassportAndDriving.js")
<div class="col-md-6">
    <div class="col-md-12 k-block">
        <div class="k-header">Passport Information</div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label" for="txtPassportNO">Passport NO:</label>
                <div class="col-md-9">
                    <input type="text" placeholder="Passport No" style="width: 100%; height: 28px;" name="txtPassportNO" id="txtPassportNO" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="txtPIssueDate">Issue date:</label>
                <div class="col-md-9">
                    <input type="text" style="width: 100%; height: 28px;" name="txtPIssueDate" id="txtPIssueDate" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="txtPExpireDate">Expire Date:</label>
                <div class="col-md-9">
                    <input type="text" style="width: 100%; height: 28px;" name="txtPExpireDate" id="txtPExpireDate" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="ddlPAuthorityCountry">Authority:</label>
                <div class="col-md-9">
                    <input type="text" style="width: 100%; height: 28px;" name="ddlPAuthorityCountry" id="ddlPAuthorityCountry" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-12 k-block">
        <div class="k-header">Driving License Information</div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label" for="txtDrivingLicenseNo">Driving License No:</label>
                <div class="col-md-9">
                    <input type="text" placeholder="Driving License No" style="width: 100%; height: 28px;" name="txtDrivingLicenseNo" id="txtDrivingLicenseNo" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="txtDIssueDate">Issue date:</label>
                <div class="col-md-9">
                    <input type="text" style="width: 100%; height: 28px;" name="txtDIssueDate" id="txtDIssueDate" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="txtDExpireDate">Expire Date:</label>
                <div class="col-md-9">
                    <input type="text" style="width: 100%; height: 28px;" name="txtDExpireDate" id="txtDExpireDate" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="ddlDAuthorityCountry">Authority:</label>
                <div class="col-md-9">
                    <input type="text" style="width: 100%; height: 28px;" name="ddlDAuthorityCountry" id="ddlDAuthorityCountry" />
                </div>
            </div>
        </div>
    </div>
</div>
