
@{
    ViewBag.Title = "InlineEdit";
}

<h2>InlineEdit</h2>

<table>
    <thead>
        <tr>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>