@Scripts.Render("~/Scripts/HDL/LcInfo/LcSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">

            <div class="well well-sm">
                LC Summary
            </div>
            <div class="panel-body">
                <button id="btnAddNew" class="btn btn-primary" type="button">Add New</button>
                <div id="grdLcInfoSummary">
                </div>
            </div>
        </div>
    </div>
</div>

