
@Scripts.Render("~/Scripts/HDL/PlanningInfo/FinishingSummary.js")

<button id="btnAddFinishing" value="Add New" class="btn btn-sm btn-success">Add New</button>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="panel-body">
                <div id="grdFinishingSummary">
                </div>
            </div>
        </div>
    </div>
</div>


