<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtStyleNo1">Style No:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtStyleNo1" id="txtStyleNo1" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtGConstruction">G.Construction:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  style="width: 100%; height: 24px;" name="txtGConstruction" id="txtGConstruction" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtFConstruction">F.Construction:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtFConstruction" id="txtFConstruction" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtWarpRatioQ">Warp Ratio:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  style="width: 100%; height: 24px;" name="txtWarpRatioQ" id="txtWarpRatioQ" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtWeftRatioQ">Weft Ratio:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control"  style="width: 100%; height: 24px;" name="txtWeftRatioQ" id="txtWeftRatioQ" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtTotalEndsQ">Total Ends:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtTotalEndsQ" id="txtTotalEndsQ"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtWeaveQ">Weave:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtWeaveQ" id="txtWeaveQ" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="cmbColorQ">Color:</label>
                            <div class="col-md-8">
                                <input type="text" style="width: 100%; height: 24px;" name="cmbColorQ" id="cmbColorQ" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtSetStd">Set Std:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtSetStd" id="txtSetStd" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-horizontal">
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtGreyWidth">Grey Width:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtGreyWidth" id="txtGreyWidth" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtGreyWeight">Grey Weight:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtGreyWeight" id="txtGreyWeight" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtGreyEpi">Grey EPIxPPI:</label>
                            <div class="col-md-4" style="padding-right:1px">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtGreyEpi" id="txtGreyEpi" />
                            </div>
                            <div class="col-md-4" style="padding-left:1px">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtGreyPpi" id="txtGreyPpi" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtReedSpace">Reed Space:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtReedSpace" id="txtReedSpace"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtReedCount">Reed Count:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtReedCount" id="txtReedCount"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtEndDent">End Dent:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="" style="width: 100%; height: 24px;" name="txtEndDent" id="txtEndDent"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtFinishWidth">Finish Width:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtFinishWidth" id="txtFinishWidth"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtFinLength">Finish Length:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtFinLength" id="txtFinLength"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtFinRoute">Finish Route:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtFinRoute" id="txtFinRoute"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtWarpShrinkageQ">Warp Shrink(%):</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtWarpShrinkageQ" id="txtWarpShrinkageQ" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtWeftShrinkageQ">Weft Shrink(%):</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtWeftShrinkageQ" id="txtWeftShrinkageQ" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtYarnCode">Yarn Code:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtYarnCode" id="txtYarnCode" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 col-xs-6 control-label" for="txtWeight">Weight:</label>
                            <div class="col-md-6 col-xs-6">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtWeight" id="txtWeight" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 col-xs-6 control-label" for="cmbFabricType">Febric Type:</label>
                            <div class="col-md-6 col-xs-6">
                                <input type="text" style="width: 100%; height: 24px;" name="cmbFabricType" id="cmbFabricType" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 col-xs-6 control-label" for="txtFabricDesc">Fab. Desc:</label>
                            <div class="col-md-6 col-xs-6">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtFabricDesc" id="txtFabricDesc"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 col-xs-6 control-label" for="txtShadeIndigoQ">Shade Indigo:</label>
                            <div class="col-md-6 col-xs-6">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtShadeIndigoQ" id="txtShadeIndigoQ" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 col-xs-6 control-label" for="txtShadeBlackQ">ShadeBlack:</label>
                            <div class="col-md-6 col-xs-6">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtShadeBlackQ" id="txtShadeBlackQ"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-6 col-xs-6 control-label" for="txtWeightFinishQ">Weight Finish:</label>
                            <div class="col-md-6 col-xs-6">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtWeightFinishQ" id="txtWeightFinishQ" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 col-xs-6 control-label" for="txtWeightWashQ">Weight Wash:</label>
                            <div class="col-md-6 col-xs-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtWeightWashQ" id="txtWeightWashQ" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 col-xs-6 control-label" for="txtSkewQ">Skew(%):</label>
                            <div class="col-md-6 col-xs-6">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtSkewQ" id="txtSkewQ" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 col-xs-6 control-label" for="txtMovementQ">Movement(%):</label>
                            <div class="col-md-6 col-xs-6">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtMovementQ" id="txtMovementQ"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 col-xs-6 control-label" for="txtStretchAbilityQ">Stretch Ability(%):</label>
                            <div class="col-md-6 col-xs-6">
                                <input type="text" class="form-control" style="width: 100%; height: 24px;" name="txtStretchAbilityQ" id="txtStretchAbilityQ" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


