
@Scripts.Render("~/Scripts/HDL/PlanningInfo/WeavingSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtGreyLgthWv">Grey Length(yds):</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtGreyLgthWv" id="txtGreyLgthWv" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtGreyWidthWv">Grey Width Inc:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtGreyWidthWv" id="txtGreyWidthWv" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtGreyPpiWv">Grey PPI:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtGreyPpiWv" id="txtGreyPpiWv" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtWeftRatioWv">Weft Ratio:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtWeftRatioWv" id="txtWeftRatioWv" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="cmbSelvedge">Selvedge:</label>
                            <div class="col-md-6">
                                <input type="text" placeholder="" style="width: 100%; height: 28px;" name="cmbSelvedge" id="cmbSelvedge" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtWeightWv">Weight</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtWeightWv" id="txtWeightWv" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtWeftCountsWv">Weft Counts:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtWeftCountsWv" id="txtWeftCountsWv" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtProYarnLotWv">Pro Yarn Lot:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtProYarnLotWv" id="txtProYarnLotWv"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtProYarnSuppWv">Pro Yarn Supp:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtProYarnSuppWv" id="txtProYarnSuppWv"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtReedSpaceWv">Reed Space:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtReedSpaceWv" id="txtReedSpaceWv" readonly="readonly"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtReedCountWv">Reed Count:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtConstructionW" id="txtReedCountWv" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtEndDentWv">Ends/Dent:</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" style="width: 100%; height: 28px;" name="txtEndDentWv" id="txtEndDentWv" readonly="readonly"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="cmbLeasingWv">Leasing:</label>
                            <div class="col-md-6">
                                <input type="text"  style="width: 100%; height: 28px;" name="cmbLeasingWv" id="cmbLeasingWv"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtNoOfBeemWv">No Of Beam:</label>
                            <div class="col-md-6">
                                <input type="text" placeholder="" style="width: 100%; height: 28px;" name="txtNoOfBeemWv" id="txtNoOfBeemWv"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 control-label" for="txtBeemLengthWv">Beem Length:</label>
                            <div class="col-md-6">
                                <input type="text" placeholder="" style="width: 100%; height: 28px;" name="txtBeemLengthWv" id="txtBeemLengthWv" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="panel-body">
                <button id="btnAddWeaving" value="Add New" class="btn btn-sm btn-success">Add New</button>
                <div id="grdWeavingSummary">
                </div>
            </div>
        </div>
    </div>
</div>

