

@Scripts.Render("~/Scripts/HDL/ProdQuality/ProdQualitySummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Production Quality Summary
            </div>
            <div class="panel-body">
              
                <div id="grdProdQualitySummary">
                </div>
            </div>
        </div>
    </div>
</div>
