
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/Core/User/ChangePassword.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
       Change Password
    </div>
    <div class="panel-body">
        <div class="row CenterOfDiv" id="divVisitDetails">
            <div class="col-md-12 col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 col-xs-4 control-label" for="txtCurrentPass">Current Password:</label>
                        <div class="col-md-4 col-xs-5">
                            <input type="password" placeholder="Current Password" class="form-control" name="txtCurrentPass" id="txtCurrentPass" required validationmessage="*" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 col-xs-4 control-label" for="txtNewPassword">New Password:</label>
                        <div class="col-md-4 col-xs-5">
                            <input type="password" placeholder="New Password" class="form-control" name="txtNewPassword" id="txtNewPassword" required validationmessage="*" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-xs-4 control-label" for="txtReNewPass">Re-Enter New Password:</label>
                        <div class="col-md-4 col-xs-5">
                            <input type="password" placeholder="Re-Enter New Password" class="form-control" name="txtReNewPass" id="txtReNewPass" required validationmessage="*"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-xs-4 control-label" for="txtReNewPass">Password strength:</label>
                        <div class="col-md-4 col-xs-5">
                            <div id="passStrength" style="width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="list-group centerAlign ">
                <li class="list-group-item">
                    <button id="btnChangePass" class="btn btn-primary" type="button">Save</button>
                    <button id="btnClear" class="btn btn-primary" type="button">Clear</button>
                </li>
            </ul>
        </div>

    </div>
</div>


