@Scripts.Render("~/Scripts/HDL/ColorInfo/ColorSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="well well-sm"> Color Summar </div>
        <div class="bs-example">

            <div class="panel-body">
                <div id="grdColorInfoSummary">
                </div>
            </div>
        </div>
    </div>
</div>


