@Scripts.Render("~/Scripts/HDL/ItemInfo/ItemSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="well well-sm">Item Summary </div>
        
        <div class="bs-example">
            <div class="panel-body">
                <div id="grdItemInfoSummary">
                </div>
            </div>
        </div>
    </div>
</div>

