@Scripts.Render("~/Scripts/HRM/Unit/UnitSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Unit Summary
            </div>
            <div class="panel-body">
                <div id="grdUnitSummary">
                </div>
            </div>
        </div>
    </div>
</div>
