@Scripts.Render("~/Scripts/HRM/Team/TeamSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
            <div class="well well-sm">
                Team Summary
            </div>
            <div class="panel-body">
                <div id="grdTeamSummary">
                </div>
            </div>
    </div>
</div>
