@Scripts.Render("~/Scripts/HRM/Team/TeamPermission.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Unit Department Section Wing Summary
            </div>
            <div class="panel-body">
                <div id="grdSecWingSummary">
                </div>
            </div>

            <div class="well well-sm">
                Team Permission
            </div>
            <div class="panel-body">
                <div id="grdTeamPermission">
                </div>
            </div>
            <input type="hidden" value="0" id="hdnSWingID" />
            <div class="row">
                <div class="spacer5"></div>
                <div class="col-md-12 col-xs-12">
                    <ul class="list-group ">
                        <li class="list-group-item centerAlign">
                            <button id="btnSavePermission" class="btn btn-success" type="button"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
