
@Scripts.Render("~/Scripts/Core/Menu/MenuInformation.js")
<div class="">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">
                Menu Settings
            </li>
            <li>
                Menu Sorting
            </li>
        </ul>
        <div class="row">
            <div class="col-md-6 ">
                @Html.Partial("_MenuDetails")
            </div>
            <div class="col-md-6">
                @Html.Partial("_MenuSummary")
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_MenuSorting")
                <div class="clear"></div>
            </div>
        </div>

        </div>
    
    
</div>