
@Scripts.Render("~/Scripts/Core/Menu/MenuSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
       Menu Summary
    </div>
    <div class="panel-body">
        <div id="gridMenu">
        </div>
        <div class="clear"></div>
    </div>
</div>

 