@Scripts.Render("~/Scripts/Core/Menu/MenuDetails.js")


<div class="bs-example">
    <div class="well well-sm">Menu Details</div>
    <div id="menuDetailsDiv" class="row">
        <div class="col-md-12 col-xs-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <input type="hidden" id="hdMenuId" value="0"/>
                    <input type="hidden" id="hdSorOrder" value="0"/>
                    <label class="col-md-4 col-xs-4 control-label" for="meetingWith">Menu Name:</label>
                    <div class="col-md-6 col-xs-6">
                        <input type="text" placeholder="Menu Name" name="MenuName" id="txtMenuName" class="form-control" required validationmessage="*" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="moduleName">Module Name:</label>
                    <div class="col-md-6 col-xs-6">
                        <input type="text" placeholder="Module Name" style="width: 100%; height: 28px;" name="moduleName" id="cmbModuleName" onchange="menuDetailsHelper.changeModuleName();"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="MenuPath">Menu Path:</label>
                    <div class="col-md-6 col-xs-6">
                        <input type="text" placeholder="Menu Path" name="MenuPath" id="txtMenuPath" class="form-control"/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="cmbParentMennu">Parent Menu:</label>
                    <div class="col-md-6 col-xs-6">
                        <input type="text" placeholder="Parent Menu" style="width: 100%; height: 28px;" name="cmbParentMennu" id="cmbParentMennu"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="cmbParentMennu">Quick Link:</label>
                    <div class="col-md-6 col-xs-6">
                        <input type="checkbox" id="chkIsQuickLink" name="IsQuickLink" class="chkBox"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <ul class="list-group ">
                            <li class="list-group-item centerAlign">
                                <button id="btnSave" class="btn btn-primary" type="submit" onclick="menuDetailsManager.SaveMenuInformation()">Save</button> 
                                <button id="btnClearAll" class="btn btn-primary" onclick="menuDetailsHelper.clearMenuForm()">Clear</button>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


