@Scripts.Render("~/Scripts/Core/Menu/MenuSorting.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Menu Sort Order
    </div>
    <div class="panel-body">
        <div id="gridMenuSorting">
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group ">
                    <li class="list-group-item centerAlign">
                        <button id="btnSaveSortOrder" class="btn btn-sm btn-info" type="submit">Update Sort Order</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
