@Scripts.Render("~/Scripts/HRM/Section/SectionInfo.js")

<div class="row">
    <div id="divSectionDetails" class="col-md-12 bs-example">
        @Html.Partial("../HRM/Section/SectionDetails")
        @Html.Partial("../HRM/Section/SectionSummary")
    </div>
</div>
