@Scripts.Render("~/Scripts/HRM/Section/SectionSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
            <div class="well well-sm">
                Section Summary
            </div>
            <div class="panel-body">
                <div id="grdSectionSummary">
                </div>
            </div>
    </div>
</div>
