<div id="divWeavingProdDetailsPartial" class="row">
    <div class="col-md-3">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Loom Name</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Lineman Name</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>           
        </div>
    </div>

    <div class="col-md-3">
        @*<div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Warp Stop</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Warm Cmpx</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Weft Stop</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Weft Cmpx</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Other Stop</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">RPM</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
        </div>*@
    </div>

    <div class="col-md-3">
        @*<div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Run Time</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Total Prod.(Yds)</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Total Picks</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Actual Picks</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">M/C Efficiency</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Gara Yarn</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
        </div>*@
    </div>

    <div class="col-md-3">
        @*<div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Remarks</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Fitter Name</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Runtime(mm)</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Unit Name</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Unit Name</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label">Unit Name</label>
                <div class="col-md-7 col-xs-7">
                    <input style="width: 100%; height: 22px;" name="" id="" validationmessage="Required" required />
                </div>
            </div>
        </div>*@
    </div>

</div>
