<div id="divWarpingProdDetailsPartial" class="row">
    <div class="col-md-2">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="txtWarpDate">Warp Date:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" placeholder="" style="width: 100%; height: 24px;" name="txtWarpDate" id="txtWarpDate" required validationmessage="Required" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="cmbItem">Item Name:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="cmbItem" id="cmbItem" required validationmessage="Required" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="cmbYarnLot">Yarn Lot:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="cmbYarnLot" id="cmbYarnLot" required validationmessage="Required" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="cmbSupplier">Supplier:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="cmbSupplier" id="cmbSupplier" required validationmessage="Required" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="cmbYarn">Yarn Code:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="cmbYarn" id="cmbYarn" required validationmessage="Required" />
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-2">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtBeamNo">Beam No:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" class="form-control" placeholder="" style="width: 100%; height: 24px; font-size: 18px !important;border: 1px solid red !important; " name="txtBeamNo" id="txtBeamNo" required validationmessage="Required" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtBeemLength">Beam Length:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" class="form-control" placeholder="" style="width: 100%; height: 24px;" name="txtBeemLength" id="txtBeemLength" required validationmessage="Required" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="cmbShift">Shift:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="cmbShift" style="width: 100%; height: 24px;" id="cmbShift">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="cmbOperator">Operator:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="cmbOperator" style="width: 100%; height: 24px;" id="cmbOperator" required validationmessage="Required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="cmbCaptain">Captain:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="cmbCaptain" style="width: 100%; height: 24px;" id="cmbCaptain" required validationmessage="Required">
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtRate">Rate:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtRate" style="width: 100%; height: 24px;" id="txtRate" required validationmessage="Required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtIntake">Intake:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtIntake" style="width: 100%; height: 24px;" id="txtIntake" required validationmessage="Required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtReminent">Reminent(Kg):</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtReminent" style="width: 100%; height: 24px;" id="txtReminent">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtRecone">Recone(Kg):</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtRecone" style="width: 100%; height: 24px;" id="txtRecone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtWastage">Wastage:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtWastage" style="width: 100%; height: 24px;" id="txtWastage">
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-2">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtProdQty">Prod Qty:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtProdQty" style="width: 100%; height: 24px;" id="txtProdQty" required validationmessage="Required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtEndsPerBeam1">EndsPerBeam:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtEndsPerBeam1" style="width: 100%; height: 24px;" id="txtEndsPerBeam1" required validationmessage="Required">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtWeakPoint">Weak Point:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtWeakPoint" style="width: 100%; height: 24px;" id="txtWeakPoint">
                </div>
            </div>
            @*<div class="form-group">
                    <label class="col-md-6 col-xs-6 control-label" for="txtSpiler">Spiler:</label>
                    <div class="col-md-6 col-xs-6">
                        <input type="text" name="txtSpiler" style="width: 100%; height: 24px;" id="txtSpiler">
                    </div>
                </div>*@
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtSnarl">Snarl:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtSnarl" style="width: 100%; height: 24px;" id="txtSnarl">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtDoubyleYarn">Double Yarn:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtDoubyleYarn" style="width: 100%; height: 24px;" id="txtDoubyleYarn">
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-2">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtDueToMachine">DueToMachine:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtDueToMachine" style="width: 100%; height: 24px;" id="txtDueToMachine">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtDueToCone">DueToCone:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtDueToCone" style="width: 100%; height: 24px;" id="txtDueToCone">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtBadWind">Bad Wind:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtBadWind" style="width: 100%; height: 24px;" id="txtBadWind">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtTotalYarnBrkg">TotalYarnBrkg:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtTotalYarnBrkg" style="width: 100%; height: 24px;" id="txtTotalYarnBrkg" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtTermination">Termination:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtTermination" style="width: 100%; height: 24px;" id="txtTermination">
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-2">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtTotalBreak">Total Break:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtTotalBreak" style="width: 100%; height: 24px;" id="txtTotalBreak" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtBreakPoint">Brkg Point:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtBreakPoint" style="width: 100%; height: 24px;" id="txtBreakPoint">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtMpm1">MPM:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtMpm1" style="width: 100%; height: 24px;" id="txtMpm1">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-6 col-xs-6 control-label" for="txtRunTime">Run Time:</label>
                <div class="col-md-6 col-xs-6">
                    <input type="text" name="txtRunTime" style="width: 100%; height: 24px;" id="txtRunTime">
                </div>
            </div>
            <div class="form-group">
                    <div class="col-md-12 col-xs-12 rightAlign" style="margin-top: 5px">
                        <button type="button" class="btn btn-sm btn-info" name="btnNewDetails" id="btnNewDetails">New</button>
                        <button id="btnUpdateWarpDetails" class="btn btn-sm btn-info" type="button">Update</button>
                        <button type="button" class="btn btn-sm btn-info" name="AddToList" id="btnAddToList">AddToList</button>
                    </div>
             
            </div>
            <div class="form-group">
                <input type="hidden" id="hdnItemUnit" value="" />
                <input type="hidden" id="hdnICount" value="0" />
                <input type="hidden" id="hdnMcEffi" value="0" />
                <input type="hidden" id="hdnSpiler" value="0" />
                <input type="hidden" id="hdnRemnantPerCreel" value="0" />
                <input type="hidden" id="hdnWastagePerCreel" value="0" />
                <input type="hidden" id="hdnBeemValPerKg" value="0" />
                <input type="hidden" id="hdnWastageValue" value="0" />
                <input type="hidden" id="hdnShiftTime" value="0" />
                <input type="hidden" id="hdnBeemKg" value="0" />
                <input type="hidden" id="hdnStdBrKg" value="0" />
            </div>
        </div>
    </div>
</div>
