
@Scripts.Render("~/Scripts/Core/User/MenuPermission.js")

<div class="bs-example">
    @*<div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 control-label" for="module">Module:</label>
                    <div class="col-md-6">
                        <input type="text" placeholder="Module" style="width: 100%; height: 28px;" name="module" id="cmbModuleName" required validationmessage="*"/>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    @*@Html.Partial("_menuPermission")*@
    <input type="hidden" value="0" id="hdnUserId"/>

    <div id="gridMenuPermission">
    </div>

</div>