

<div class="bs-example">
    <div class="form">
        <div class="col-md-10 col-xs-10">
            <div class="form-horizontal" id="divUserDetails">
                <input type="hidden" id="hdnUserId" value=""/>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="txtUserId">Login / Emp ID:</label>
                    <div class="col-md-8 col-xs-8">
                        <input type="text" placeholder="User ID" name="txtUserId" id="txtUserId" class="form-control" required validationmessage="ID Required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="txtUserName">User Name:</label>
                    <div class="col-md-8 col-xs-8">
                        <input type="text" placeholder="User Name" name="txtUserName" id="txtUserName" class="form-control" required validationmessage="Name Required">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="txtDesig">Designation:</label>
                    <div class="col-md-8 col-xs-8">
                        <input type="text" placeholder="Designation" name="txtDesig" id="txtDesig" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="cmbUserType">User Type:</label>
                    <div class="col-md-8 col-xs-8">
                        <input type="text" placeholder="Type" name="cmbUserType" style="width: 100%; height: 28px;" id="cmbUserType">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-2 control-label" for="txtNewPassword">New Password:</label>
                    <div class="col-md-8 col-xs-8">
                        <input type="password" placeholder="New Password" class="form-control" name="txtNewPassword" id="txtNewPassword" required validationmessage="*" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-2 control-label" for="txtReNewPass">Re-Enter New Password:</label>
                    <div class="col-md-8 col-xs-8">
                        <input type="password" placeholder="Re-Enter New Password" class="form-control" name="txtReNewPass" id="txtReNewPass" required validationmessage="*" />
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="row" id="divClientButton">
        <div class="col-md-12 col-xs-8">
            @*<ul class="list-group CenterOfDiv">
                <li class="list-group-item">
                    <button id="btnSaveMember" class="btn btn-success" type="button">Save</button>
                </li>
            </ul>*@
        </div>
    </div>

</div>
