
@Scripts.Render("~/Scripts/Core/User/UserSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        User Summary
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-1 control-label" for="User">User:</label>
            <div class="col-md-6">
                <input type="text" placeholder="User" style="width: 100%; height: 28px;" name="User" id="cmbUser" />
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="grdUserSummary">
        </div>
    </div>
</div>


