
@{
    ViewBag.Title = "Inspection Flaggin Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .k-list-scroller {
        position: relative;
        overflow: auto;
    }

    .error {
        color: red;
    }

    .k-grid td {
        line-height: 1em !important;
        padding: 0.1em !important;
    }


</style>

<div class="col-md-12 col-xs-12" ng-app="myApp" ng-controller="InspFlagginCtrl" id="mainController">
    <div class="well well-sm" data-toggle="collapse" data-target="#wProductionMaster" style="cursor:pointer;border-color:#286090;" ng-show="finishingMaster">Inspection Production Flaggin Info</div>

    <div class="bs-example" style="background-color: #99ccff;margin-bottom:5px !important;" ng-show="finishingMaster" id="finishingMaster">
        @*<pre>{{masterObj|json}}</pre>*@
        <div class="row collapse in">
            <div class="col-md-3">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 col-xs-4 control-label" for="wpmDate">FDate</label>
                        <div class="col-md-7 col-xs-7">
                            <input type="text" style="width: 100%; height: 22px;" ng-model="masterObj.Fdate" ng-keypress="masterMoveDown($event,'InsUnit','combo')" name="date" placeholder="dd/mm/yyyy" id="Fdate" onkeyup="var v=this.value; if (v.match(/^\d{2}$/) !== null) { this.value = v + '/';  } else if (v.match(/^\d{2}\/\d{2}$/) !== null) { this.value = v + '/'; }" maxlength="10" />
                            <input type="hidden" ng-model="FID" />
                        </div>
                        <span class="error">*</span>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 col-xs-4 control-label" for="wpmFitterCaptain">Remarks</label>
                        <div class="col-md-7 col-xs-7">
                            <input id="remarks" class="remarks" style="width: 100%; height: 22px;" validationmessage="Required" ng-model="masterObj.remarks" ng-keypress="saveMaster($event)" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 col-xs-4 control-label" for="Stock">Ins Unit </label>
                        <div class="col-md-7 col-xs-7">
                            <input id="InsUnit" class="InsUnit" style="width: 100%; height: 22px;" validationmessage="Required" ng-model="masterObj.InsFloorCode" ng-keypress="masterMoveDown($event,'remarks','text')" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-xs-4 control-label" for="ID">ID</label>
                        <div class="col-md-7 col-xs-7">
                            <input class="ID" id="ID" style="width: 100%; height: 22px;" ng-model="masterObj.ID" disabled />
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="bs-example" style="height:auto; width: 100%; overflow: scroll;" ng-show="finishingDetail" id="finishingDetail">
        <form class="form-horizontal" novalidate>
            @*<pre>{{data|json}}</pre>*@
            <table class="newDiscounts dynaRows table table-hover table-condensed" style="width: 100%">
                <thead>
                    <tr>
                        <th style="border:1px solid">Sl</th>
                        <th style="border:1px solid">DCode</th>
                        <th style="border:1px solid">OName</th>
                        <th style="border:1px solid">CapName</th>
                        <th style="border:1px solid">Roll</th>
                        <th style="border:1px solid">StyleNo</th>
                        <th style="border:1px solid">YdsOpOBS</th>
                        <th style="border:1px solid">YdsReChOBS</th>
                        <th style="border:1px solid">DiffOpOBS</th>
                        <th style="border:1px solid">DiffReChOBS</th>
                        <th style="border:1px solid">QOpOBS</th>
                        <th style="border:1px solid">QReChOBS</th>
                        <th style="border:1px solid">PointOpOBS</th>
                        <th style="border:1px solid">PointReChOBS</th>
                        <th style="border:1px solid">WidthAvg</th>
                        <th style="border:1px solid">Single Point</th>
                        <th style="border:1px solid">Remarks</th>  
                        <th style="border:1px solid">IID</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr style="border:1px solid" ng-repeat="value in data">
                        <td style="border:1px solid">{{$index+1 }}</td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input kendo-combo-box k-options="optDept"   class="rx{{$parent.$index}}" ng-model="sub.DCode" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input kendo-combo-box k-options="optOperator" class="r2{{$parent.$index}}" ng-model="sub.OCode" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input kendo-combo-box k-options="optPO" class="r3{{$parent.$index}}" ng-model="sub.CapCode" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input type="text" class="r4{{$parent.$index}}" ng-model="sub.RollNo" ng-keypress="recDetailMove($event,'combo',$parent.$index)"/></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input kendo-combo-box k-options="optStyleNo"  class="r5{{$parent.$index}}" ng-model="sub.StyleCode" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input type="text" class="r6{{$parent.$index}}" ng-model="sub.YdsOpOBS" ng-keypress="recDetailMove($event,'text',$parent.$index)" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input type="text" class="r7{{$parent.$index}}" ng-model="sub.YdsReChOBS" ng-keypress="recDetailMove($event,'text',$parent.$index)" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input type="text" class="r8{{$parent.$index}}" ng-model="sub.DeffOpOBS" ng-keypress="recDetailMove($event,'text',$parent.$index)"/></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input type="text" class="r9{{$parent.$index}}" ng-model="sub.DeffReChOBS" ng-keypress="recDetailMove($event,'combo',$parent.$index)"/></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input kendo-combo-box k-options="optQuality"  class="r10{{$parent.$index}}" ng-model="sub.QOpOBS" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input kendo-combo-box k-options="optQuality"  class="r11{{$parent.$index}}" ng-model="sub.QReChOBS" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input type="text" class="r12{{$parent.$index}}" ng-model="sub.PointOpOBS" ng-keypress="recDetailMove($event,'text',$parent.$index)" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input type="text" class="r13{{$parent.$index}}" ng-model="sub.PointReChOBS" ng-keypress="recDetailMove($event,'text',$parent.$index)" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input type="text" class="r14{{$parent.$index}}" ng-model="sub.WidthAvg" ng-keypress="recDetailMove($event,'text',$parent.$index)" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input type="text" class="r15{{$parent.$index}}" ng-model="sub.SinglePoint" ng-keypress="recDetailMove($event,'text',$parent.$index,'rowrec')" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input type="text" class="r16{{$parent.$index}}" ng-model="sub.Remarks"  ng-keypress="moveAndSaveDetail($event,$parent.$index,sub)" /></td>
                        <td style="border:1px solid" ng-repeat="sub in value"><input type="text" class="r17{{$parent.$index}}" ng-model="sub.IID" disabled /></td>
                       
                    </tr>

                </tbody>

            </table>
        </form>

        <button type="button" class="btn btn-sm btn-primary" ng-click="addNewRowRec()"><i class="fa fa-plus"></i> Add more</button>

    </div>
    <div class="row" ng-show="btnClose">
        <div class="spacer5"></div>
        <div class="col-md-12 col-xs-12">
            <ul class="list-group ">
                <li class="list-group-item centerAlign">

                    <button id="btnClose" class="btn btn-danger" type="button" ng-click="close()"><span class="glyphicon glyphicon-remove"></span> Close</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" ng-show="finishingGrid" id="finishingGrid">
        <div class="col-md-12 col-xs-12">
            <div class="bs-example">

                <div class="well well-sm">
                    Inspection Production Flaggin
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 ">
                            <button id="btnAddNew" class="btn btn-primary" type="button" ng-click="newData()">
                                <span class="glyphicon glyphicon-plus-sign"></span>
                                Add New
                            </button>
                        </div>
                        <div class="col-md-9">
                            <div class="col-md-4">
                                <label class="col-md-4  control-label" for="txtSearchDateFrom">From Date:</label>
                                <div class="col-md-8 input-group">
                                    <input type="text" placeholder="From Date" name="txtSearchDateFrom" style="width: 100%; height: 28px;" id="txtSearchDateFrom">
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <label class="col-md-4  control-label" for="txtSearchDateTo">To Date:</label>
                                <div class="col-md-8 input-group">
                                    <input type="text" placeholder="To Date" name="txtSearchDateTo" style="width: 100%; height: 28px;" id="txtSearchDateTo">
                                </div>
                            </div>
                            <div class="col-md-4 ">
                                <button id="btnSearchWarping" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="spacer4"></div>

                    <div id="grdSummary">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@Scripts.Render("~/Scripts/HDL/InspectionFlaggin/InspectionFlaggin.controller.js")
@Scripts.Render("~/Scripts/HDL/InspectionFlaggin/InspectionFlagginInfo.js")