@Scripts.Render("~/Scripts/HDL/DyeingProduction/DyeingProdDetailsSizerSlasherRope.js")
@Scripts.Render("~/Scripts/HDL/DyeingProduction/DyeingProdDetailsSizerSlasherRopeSummary.js")

<div id="divWarpingProdDetailsPartial" class="row">
    <div class="col-md-3">
        <div class="form-horizontal">            
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingDate">Sizing Date:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="hidden" id="suid" value="" />
                    <input type="text" style="width: 100%; height: 24px;" name="sizingDate" id="sizingDate" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingShift">Shift:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingShift" id="sizingShift" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingSSNo">SS No:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingSSNo" id="sizingSSNo" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingBeamNo">Beam No:</label>
                <div class="col-md-7 col-xs-7">
                    <input class="k-input k-textbox" style="width: 100%; height: 24px;" name="sizingBeamNo" id="sizingBeamNo" validationmessage="Required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingLength">Length:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingLength" id="sizingLength" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingPO">P.O:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingPO" id="sizingPO" validationmessage="Required" required />
                </div>
            </div>            
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingSizer">Sizer:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingSizer" id="sizingSizer" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingDO">D.O:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingDO" id="sizingDO" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingCaptain">Captain:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingCaptain" id="sizingCaptain" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingRopeDyeCap">RopeDyeCap:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingRopeDyeCap" id="sizingRopeDyeCap" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingRopeDyePO">RopeDyePO:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingRopeDyePO" id="sizingRopeDyePO" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingStickyEndsLeft">StickyEndsLeft:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingStickyEndsLeft" id="sizingStickyEndsLeft" validationmessage="Required" required />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingStickyEndsRight">StickyEndsRight:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingStickyEndsRight" id="sizingStickyEndsRight" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingBreakagePoint">BreakagePoint:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingBreakagePoint" id="sizingBreakagePoint" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingStopTime">Stop Time:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingStopTime" id="sizingStopTime" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingStoppage">Stoppage:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingStoppage" id="sizingStoppage" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingLapperCreel">Lapper Creel:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingLapperCreel" id="sizingLapperCreel" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingLapperDyeing">Lapper Dyeing:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingLapperDyeing" id="sizingLapperDyeing" validationmessage="Required" required />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingLapperSizing">Lapper Sizing:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingLapperSizing" id="sizingLapperSizing" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingNoOfLapper">No. Of Lapper:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingNoOfLapper" id="sizingNoOfLapper" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="sizingLapperType">Lapper Type:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="sizingLapperType" id="sizingLapperType" validationmessage="Required" required />
                </div>
            </div>            
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="txtSizingMC">Sizing M/C:</label>
                <div class="col-md-7 col-xs-7">
                    <input type="text" style="width: 100%; height: 24px;" name="txtSizingMC" id="txtSizingMC" validationmessage="Required" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-5 col-xs-5 control-label" for="txtSizingremarks">Remarks:</label>
                <div class="col-md-7 col-xs-7">
                    <input class="k-input k-textbox" style="width: 100%; height: 24px;" name="txtSizingremarks" id="txtSizingremarks"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 rightAlign" style="margin-top: 5px">
        <button type="button" class="btn btn-sm btn-info" name="sbtnClear" id="sbtnClear">New</button>
        <button type="button" class="btn btn-sm btn-info" name="sbtnAddToList" id="sbtnAddToList">AddToList</button>
    </div>
</div>

<div class="panel-body">
    <div class="spacer5"></div>
    <div id="grdDyeingProdDetailsSizerSlasherRopeSummary">
    </div>
</div>
