<table id="tblLoomDownTime" class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th class="centerAlign">LoomNo</th>
            <th class="centerAlign">Reason</th>
            <th class="centerAlign">StopTime</th>
            <th class="centerAlign">RunTime</th>
            <th class="centerAlign">TotalTime</th>
            <th>Remarks</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="width:100px;"></td>
            <td style="width:200px;"></td>
            <td style="width:100px;"></td>
            <td style="width:100px;"></td>
            <td style="width:100px;"></td>
            <td></td>
            <td style="width:34px;"><button id="btnNewLoomDownTime" style="height: 22px;margin: 1px;" class="btn-info"><span class="glyphicon glyphicon-save"></span></button></td>
            <td style="width:34px;"><button style="height: 22px;margin: 1px;" class="btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
        </tr>
    </tbody>
    <tfoot></tfoot>
</table>

<table id="tblLoomDownTime" class="table table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th class="centerAlign">LoomNo</th>
            <th class="centerAlign">Reason</th>
            <th class="centerAlign">StopTime</th>
            <th class="centerAlign">RunTime</th>
            <th class="centerAlign">TotalTime</th>
            <th>Remarks</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>