
@{
    ViewBag.Title = "Check Production and Rejection";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
@Styles.Render("~/Content/HDL/InspectionCheck.css")

<div class="prductionController">
    <div id="inpSummary" class="row">
        <div class="col-md-12 col-xs-12">
            <div class="bs-example">
                <div class="well well-sm">
                    Inspection Production Rejection Check
                </div>
                <div class="panel-body">
                    <div class="spacer5"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="well well-sm" style="border-color:#286090;">Check Ins Prod - Finish Dept</div>
                            <div id="productionToFinishGrid"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="well well-sm" style="border-color:#286090;">Check Ins Rej - Finish Dept</div>
                            <div id="inspectionToFinishGrid"></div>
                        </div>
                    </div>
                    <div class="spacer5"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="detail" class="row displayNone">
        <div class="col-md-12">
            <div class="bs-example" style="margin-bottom:0px;">
                <div class="well well-sm">Inspection Production Entry Form</div>
                <div class="panel-body" style="background-color: #99ccff">
                    <div class="spacer5"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label" for="ipmSDate">ProdDate</label>
                                    <div class="col-md-5 col-xs-5" style="padding-right:3px;">
                                        <input id="ipmSDate" style="width: 100%; height: 24px;border-color:#67afe9;" validationmessage="Required" required />
                                    </div>
                                    <div class="col-md-3 col-xs-3" style="padding-left:0px;">
                                        <input id="ipmID" class="k-input k-textbox" style="width: 100%; height: 24px;border-color:#67afe9;" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label" for="ipmTotalProd">ProdDays</label>
                                    <div class="col-md-8 col-xs-8">
                                        <input id="ipmTotalProd" class="k-input k-textbox" style="width: 100%; height: 24px;border-color:#67afe9;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label" for="ipmUName">Ins Unit</label>
                                    <div class="col-md-5 col-xs-5" style="padding-right:3px;">
                                        <input id="ipmUName" style="width: 100%; height: 22px;" />
                                    </div>
                                    <div class="col-md-3 col-xs-3" style="padding-left:0px;">
                                        <input id="ipmUCode" class="k-input k-textbox" style="width: 100%; height: 24px;border-color:#67afe9;" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 col-xs-4 control-label" for="ipmInsFloorName">Wv Floor</label>
                                    <div class="col-md-5 col-xs-5" style="padding-right:3px;">
                                        <input id="ipmInsFloorName" style="width: 100%; height: 22px;" />
                                    </div>
                                    <div class="col-md-3 col-xs-3" style="padding-left:0px;">
                                        <input id="ipmInsFloorCode" class="k-input k-textbox" style="width: 100%; height: 24px;border-color:#67afe9;" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid" style="padding:5px 0px 5px;">
                        <div id="tabstrip">
                            <ul>
                                <li class="k-state-active">
                                    Production
                                </li>
                                <li>
                                    OP Production
                                </li>
                            </ul>
                            <div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="panel-body">
                                            <div class="spacer5"></div>
                                            <div id="ipdProductionGrid"></div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="panel-body">
                                            <div class="spacer5"></div>
                                            <div id="ipdOPProductionGrid"></div>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <ul class="list-group ">
                        <li class="list-group-item centerAlign">
                            <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-repeat"></span> New</button>
                            <button id="ipdClose" class="btn btn-danger" type="button"><span class="glyphicon glyphicon-remove"></span> Close</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/HDL/InspectionCheck/Index.js")
}