@Scripts.Render("~/Scripts/HRM/Wing/WingInfo.js")

<div class="row">
    <div id="divWingDetails" class="col-md-12 bs-example">
        @Html.Partial("../HRM/Wing/WingDetails")
        @Html.Partial("../HRM/Wing/WingSummary")
    </div>
</div>
